/* You can add global styles to this file, and also import other style files */
html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--bg);
  font-family: "Flame";
  color: var(--brown);
}

h1 {
  margin: 0;
  font-size: 3rem;
}

:root {
  --bg: rgb(245, 235, 220);
  --red: rgb(214, 35, 0);
  --yellow: rgb(255 136 53);
  --brown: rgb(80, 35, 20);
}
@font-face {
  font-family: "Flame";
  src: local("Flame"), url(./assets/fonts/Flame-Regular.ttf) format("truetype");
}
